
.card-login {
    background-color: #1affa3;
    margin-top: 1em;
    border-radius: 10px;
    padding: 5%;
    width: 60%; 
    float: none;
    margin: 10em auto;
}

.btn {
    float: right;
}

span a {
    color:white;
    text-decoration: none;
}

span a:hover {
    text-decoration: none;
}

label {
    color: white;
}

.btn.btn-my-primary {
    background-color: #1affa3;
    border-color: whitesmoke;
    border-width: 0.1em;
    color: white;
}

.btn.btn-my-primary:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.welcome-title {
    height: 3em;
    text-align: center;
    font-family: 'Bad Script', cursive;
    margin: 0 auto;
    color: white;
}

