.header-container {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-image: linear-gradient(90deg, rgb(77, 77, 248), #69f057);
    padding         : 20px;
    box-shadow: black 10px 3px 10px 4px;
}

body {
    max-width: 1800px;
    margin   : 0 auto;
    color    : #efefef;
}

.menu-principal {
    display: flex;
}

.navbar li {
    font-size   : 20px;
    margin-right: 10px;
    text-shadow : 2px 4px 3px rgba(0, 0, 0, 0.3);
}

li {
    text-decoration: none;
}

h1 {
    font-size  : 30px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.header-container h1 {
    margin-left: 20px;
}

a:hover {
    color: black;
}

@media (max-width: 600px) {

    .menu-abrir span,
    .menu-fechar span {
        display      : block;
        height       : 3px;
        width        : 25px;
        margin       : 4px 0;
        border-radius: 4px;
        background   : black;
    }

    .menu-abrir:hover,
    .menu-fechar:hover {
        border       : 1px solid;
        border-radius: 2px;
        width        : 25px;
        cursor       : pointer;
    }

    .navbar {
        background: linear-gradient(rgb(77, 77, 248), #69f057);
        padding   : 1em;
        margin    : 0;

        height   : 100%;
        width    : 90%;
        max-width: 320px;

        position: fixed;
        z-index : 1;
        top     : 0;
        left    : -100%;

        transition: left 0.3s ease-out;
    }

    .menu-ativo .navbar {
        left: 0;
    }

    .menu-principal li {
        padding: 1em 0;
        width  : 100%;
    }

    .menu-principal {
        display: flex;
        flex-direction: column;
    }

    .menu-ativo:after {
        content: "";
        display: block;

        position: fixed;
        top     : 0;
        left    : 0;
        bottom  : 0;
        right   : 0;

        background: rgba(0, 0, 0, 0.4);
    }
}

@media not all and (max-width: 600px) {

    .menu-abrir,
    .menu-fechar {
        display: none;
    }
}